#
# This is the template use to grab host to setup with Let's Encrypt SSL
# Environment Variable can set DEFAULT_EMAIL and KAP_LE_TEST
# KAP_LE_TEST override is currently set to : {{ env "KAP_LE_TEST" }}
#


{{ $Default_email := or (env "DEFAULT_EMAIL") "foo@bar.com" -}}

{{- $hosts_services := services "" "" | getAllLabelValue "*" "kap/le_host" "," -}}
{{- $hosts_stand := pods "" "" | getAllLabelValue "*" "kap/le_host" "," -}}
{{- $hosts := concatenateUnique $hosts_services $hosts_stand -}}

LETSENCRYPT_CONTAINERS=(
{{- range $hosts }}'{{ formatClean . }}' {{ end -}}
)


{{- $services := services "" "" | groupByMulti "kap/le_host" "," -}}
{{- $pods := pods "" "" | groupByMulti "kap/le_host" "," -}}
{{- $aggregated := uniqueMap $pods $services -}}
{{- range $host, $agg := $aggregated -}}
{{- $first := first $agg -}}
{{- $cid := formatClean $host }}

LETSENCRYPT_{{$cid}}_HOST=( '{{$host}}' )
LETSENCRYPT_{{$cid}}_EMAIL="{{GetValue $first.Annotations "kap/le_email" $Default_email}}"
LETSENCRYPT_{{$cid}}_TEST="{{GetValue $first.Annotations "kap/le_test" "false"}}"

{{- end }}
